/* styles.css */

:root {
	font-family: Arial, Helvetica, sans-serif;
	background-color: blanchedalmond;
	color:brown;
}

h1 {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 3em;
}

.red {
	color:red;
}

a {
	color: green;
	font-weight: bold;
	text-decoration: none;
	border-bottom: green 2px dashed;
}

.no-border {
	border: none;
}

a:hover {
	color: red;
	border-bottom: red 2px dotted;
}